<div layout="vertical" layout-fill>
  <md-content>
    <md-toolbar>
      <header ng-include="'components/navbar/navbar.html'"></header>
    </md-toolbar>

    <section class="jumbotron">
      <h1>'Allo, 'Allo!</h1>
      <p class="lead">
        <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>
      <p><a class="btn" ng-href="#">Splendid!</a></p>
    </section>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'">
        <div class="thumbnail">
          <img class="pull-right" ng-src="assets/images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}">
          <div class="caption">
            <h3>{{awesomeThing.title}}</h3>
            <p>{{awesomeThing.description}}</p>
            <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
          </div>
        </div>
      </md-card>
    </div>
    <footer>
      <md-toolbar layout="row" layout-align="center center">
        <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
      </md-toolbar>
    </footer>
  </md-content>



</div>
